- unless notice.blank?
  .alert.alert-success#notice{role: 'alert'}
    .text-center= notice
.container
  .row
    .col
      = link_to certification_schemes_path, class: 'btn btn-outline-info', role: 'button' do
        %i.fa.fa-arrow-left
        Kembali ke Daftar Skema Sertifikasi
      .card.mt-4.mb-4
        %h5.card-header Tambah Skema Sertifikasi Baru
        .card-body
          = render 'form'
