- unless notice.blank?
  .alert.alert-success#notice{role: 'alert'}
    .text-center= notice
.container
  .row
    .col
      = link_to @certification_provider, class: 'btn btn-outline-info', role: 'button' do
        %i.fa.fa-undo
        Tidak Jadi Ubah
      .card.mt-4.mb-4
        %h5.card-header Ubah Tempat Uji Kompetensi
        .card-body
          = render 'form'
